/* VH divides into 16 - when calculating rem units, calculate: px/16 = rem */

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
}

#banner {
    background: URL('/images/sheikah-background.png');
    background-color: black;
    background-position:right;
    background-repeat: no-repeat;
    height: 200px; 
}

h1 {
    color: rgb(188, 135, 48);
    padding-top: 50px; 
    font-family: 'Medula One', cursive;
    font-size: 80px;
    text-align: left;
    padding-left: 20px;
    margin: 0; 
}

li {
    list-style: none;
    margin: 20px; 
}

                        /* COMPENDIUM CATEGORY CONTAINERS */

#container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    font-family: 'Medula One';
    font-size: 48px;
}

#container > div {
    height: 250px;
    width: 250px;
    text-align: center;
    border: 1px solid black;
    margin: 15px 0;
}

#container > div > h2 {
    margin: 0;
    color:rgb(188, 135, 48)
}

#monster-box {
    background: url('/images/monsters-background3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

#creatures-box {
    background: url('/images/creatures-background2.png')
}

#materials-box {
    background: url('/images/materials-background.png');
}

#equipment-box {
    background: url('/images/equipment-background.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-color: black;
}

#treasure-box {
    background: url('/images/treasure-background.jpeg')
}

#list-container, #card-container {
    position: fixed;
    top: 20%; 
    left: 20%; 
    z-index: 10;

    overflow:auto; 
   
    width: 600px;
    height: 500px;
    border: 1px solid black;
    
    background-color: black;
    color: white; 
    opacity: 0.9; 
}

ul {
    padding: 0; 
}

.list-item, .subcategory {
    height: 50px;
    margin: 2px 20px; 
 
    box-shadow:20px 20px 50px 15px grey;  


    list-style: none;

    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.list-item:hover, .subcategory:hover {
    border: 3px solid darkgray; 
    cursor: pointer;
}